<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to 'Voir tous les projets', portfolios_path %> /
      <a href="#">Back to top</a>
    </p>
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>