<h1>À propos</h1>
<p>Admissible en master MégaDonnées et Analyse Sociale (MéDAS) - Cnam ( sept 2018 - )
  <br>Étudiante en MITx micromaster Statistics & Data Science - MIT ( sept 2018 - )
  <br><nav>Titulaire d'un bachelor en audit financier - BI Norwegian Business School ( 2010 )</nav>
  <br><nav><strong>Langues:</strong> français, anglais, norvégien, espagnol, danois, italien, japonais
  <br><strong>Languages de programmation:</strong> Python, SQL, Javascript (vanilla), Ruby, Visual Basic (VBA)
  <br><strong>Tools:</strong> Excel, Jupyter notebook, PostgreSQL, Sublime Text, git, github, Matplotlib, Photoshop,
  <br>Lightroom, Ruby on Rails, HTML5, CSS3</nav>
  <div class='social-icons-about'>
      <a href="https://github.com/GWakabayashi" target="_blank"><%= fa_icon "github" %></a>
      <a href="https://twitter.com/Ja1Chloe" target="_blank"><%= fa_icon "twitter" %></a>
      <a href="https://www.linkedin.com/in/chloéjaouën" target="_blank"><%= fa_icon "linkedin" %></a>
  </div>
  
