<h1>À propos</h1>

<hr>

<div class='row'>
  <div class='col-md-4'>
    <%= image_tag "portrait.jpg", width: 300, alt: "profile image" %>
  </div>

   <div class='col-md-8 contact-main'>
    <p>Master MégaDonnées et Analyse Sociale (MéDAS) - Cnam ( sept 2018 - )
    <br>MITx Micromasters Statistics & Data Science - MIT ( sept 2018 - )
    <br><nav>Bachelor en Audit Financier - BI Norwegian Business School ( 2010 )</nav>
    <br>
    <br><nav><strong>Langues:</strong> français, anglais, norvégien, espagnol, danois, italien, japonais
    <br><strong>Languages de programmation:</strong> Python, SQL, Javascript (vanilla), Ruby, Visual Basic (VBA)
    <br><strong>Tools:</strong> Excel, Jupyter notebook, PostgreSQL, Sublime Text, git, github, Matplotlib, Photoshop,
    Lightroom, Ruby on Rails, HTML5, CSS3</nav> 
    </p>

    <hr>

    <div class='social-icons-about'>
      <a href="https://github.com/GWakabayashi" target="_blank"><%= fa_icon "github" %></a>
      <a href="https://twitter.com/Ja1Chloe" target="_blank" class='icon-blue'><%= fa_icon "twitter" %></a>
      <a href="https://www.linkedin.com/in/chloéjaouën" target="_blank" class='icon-blue'><%= fa_icon "linkedin" %></a>
    </div>
  </div>
</div>


  
