<div class="inner cover">
  <h1 class="cover-heading">#UneAlternancePourChloe</h1>
  <p class="lead">Étudiante en master big data au Cnam / micromaster au MIT , sportive amatrice de ballades en forêts aléatoires, descentes de gradients, compétitions Kaggle recherche un poste en alternance de data analyst* à partir de la rentrée! (PS: site réalisé par l'intéressée)</p>
  <p class="lead">
    <%= link_to "Je l'embauche >>", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>





        






